.App {
  text-align: center;
}

.data {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.global-data{
  width: 40%;
  align-items: center;

}

.countries-data{
  width: 60%;
  align-items: center;

}