.container{
    display: flex;
    flex-direction: row;
    height: auto;
}

.card-container{
    display: flex;
    border:1px solid #ccc;
    border-width: 0 1px 1px 1px;
    background-color: white;
    padding: 25px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    width: 25%;
    height: 200px;
    overflow: hidden;

}

.card-container:hover{
    transform: scale(1.05);
}

.image-container{
    width: 50%;
    
}
.image{
    width: 50%;
    justify-content: flex-end;
    align-items: center;

}